@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c2410c;
  border-radius: 10px;
}

